<body class="text-center">
<main class="form-signin">
<%= render 'form', user: @user %>

<%= link_to 'Show', @user ,:class => 'lol'%> |
<%= link_to 'Back', users_path, :class => 'lol' %>
</main>
</body>
