<body class="text-center">
<main class="form-signin">
  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path, :class => 'lol' %>
  <footer role="contentinfo">
    <p class="float-end"></p>
    <p>&copy; 2021 LifeUp, Inc. &middot; &middot; &middot; smail: lifeup.end.lifeup@gmail.com &middot; &middot; &middot;</p>
  </footer>
</main>
</body>
